body{
font-size: 16px;
font-family: 'Titillium Web', sans-serif;
color: white;
background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); 
letter-spacing: 4px;

}
.container{
    margin : 2rem;
}
header{
    margin-top: 15vh;
}
#header{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
/* header input */
#search-input{
    padding: 8px;
    border-radius: 25px;
    border: none;
    background: #181818;
    height: 1.6rem;
    width: 30vw;
    text-align: center;
    font-size: 1.2rem;
    color: lightgray;
    font-family: 'Titillium Web', sans-serif;
}
#search-input:focus{
    outline: none;
}
#search-input::placeholder{
    text-align: center;
    font-size: 1.2rem;
 }

.search-results{
    display: flex;
    flex-flow: row wrap;
}
.fa-search{
    position: relative;
    font-size: 1.1rem;
    left: 30vw;
    color:#50B95D;
}


/* results */
#sr-heading{
    margin-top:10vh;
   text-align: center;
    letter-spacing: 4px;
}
.results{
    margin : 1.5rem;
}
.hero-search{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.hero-pic img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height : 250px;
}
.hero-details{
cursor: pointer;
}

.hero-details:hover{
transform: scale(1.1);
}
.fa-heart{
    color:rgb(255, 166, 0);
}
