body{
font-size: 16px;

color: white;
background-image: linear-gradient(to right, #434343 0%, black 100%);
}
h2,h3{
    font-family: 'Titillium Web', sans-serif;  
}
/* header input */
#search-input{
    border-radius: 25px;
    border: none;
    background: #181818;
    height: 1.6rem;
    width: 50vw;
    text-align: center;
    font-size: 1.2rem;
    color: lightgray;
    font-family: 'Titillium Web', sans-serif;
}
#search-input:focus{
    background: #181818;
}

/* icon */
.fa-search{
    position: relative;
    font-size: 1.1rem;
    left: 30vw;
    color:#50B95D;
}

/* results */

.hero-pic img{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height : 250px;
}
.hero-details{
cursor: pointer;
}

.hero-details:hover{
transform: scale(1.1);
}

/* details div styles */
.wdiv{
    width: 200px;
    color:rgb(255, 136, 0);
    font-family: 'Titillium Web', sans-serif;
}
