body{
    font-family: sans-serif; 
    color :  #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); 
    letter-spacing: 4px;
    box-sizing: border-box;
}
/* common style classes */
.container{
    margin: 1.2rem;
}
.headings{
   font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 166, 0);
}
/*  row styles*/
.shero-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Column styles */
.shero-col{
    width : 50%;
    padding : 1.5rem;
    align-self: flex-start;
}
/* superhero image card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
}
  
.hero-container{
    padding: 2px 16px;
}

/* text styles */
.api-data{
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}
.key{
    width: 40%;  
}
.key p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
   
}
.value{
    width: 60%;  
}
.value p{
    font-size: 14px;
   padding: 1.2rem;
}