body{
    letter-spacing: 2.5px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); 
    font-family: sans-serif; 
    box-sizing: border-box;
}
/* common style classes */
.headings{
   font-family: 'Titillium Web', sans-serif;
   color: rgb(255, 166, 0);
}
/* navbar */
#custom-nav{
    background-color: #264653 !important;
    font-size: 1.2rem;
}
/* superhero image card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
}
  
.hero-container{
    padding: 6px 16px;
}

/* text styles */
.api-data{
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : #fff;
}
.key{
    width: 35%;  
}
.key p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.value{
    width: 50%;  
}
.value p{
    font-size: 16px;
 
}